[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
scrapy = "*"
sklearn = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
tpot = "*"
googlemaps = "*"
yacron = "*"
sendgrid = "*"

[dev-packages]

[requires]
python_version = "3.6.5"
